@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to <a href="https://myforecastrms.com/"My>Forecast</a> project</h1>
    <a href="https://www.linkedin.com/in/antonino-giangreco-15874510b/">Linkedin</a>
    <a href="https://github.com/Anto-9393/ASPNETCORE_PROJECT">GitHub</a>
</div>
