@model WebApplication1.Models.UserModel

<div>
    <h4>Registration Successfull</h4>
    <hr />
    <div>
        <h4>Effettua Login per accedere al serivizio API.</h4>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
         <a asp-area="" asp-controller="Login" asp-action="Index">LoginPage!</a>
</div>

</div>
